/*!
 * MayBank v1
 */ 
 
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 40px;
font-style: normal;
margin-left: 20px;
}

.flaticon-dinner:before { content: "\f100"; }
.flaticon-salver:before { content: "\f101"; }
.flaticon-meat:before { content: "\f102"; }
.flaticon-fish:before { content: "\f103"; }
.flaticon-waiter:before { content: "\f104"; }
 
body {
  font-family: "Roboto Slab", Arial, Tahoma, sans-serif;
  /*

	 font-family: "Yanone Kaffeesatz", Arial, Tahoma, sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
    font-family: 'Stint Ultra Condensed', cursive;
    font-family: 'Amarante', cursive;
    "Roboto Slab", Arial, Tahoma, sans-serif
    */
  font-size: 14px;
}
h2 {
  font-weight: 700;
  font-size: 42px;
}
h1, h3, h2, h4, .tabs li, .navbar-default .navbar-nav > li > a, strong, .sticky-signup p, .btn, .entry-content p, .section-4 {
  font-family: 'Playfair Display', serif;
}
section h3, .btn, .menu-tabs li a,.input-text  {
  font-family: 'Playfair Display', serif;
}
a, a:focus {
  color: #ffc500;
  outline: 0;
}
a:hover {
  color: inherit
}
h3 {
  font-size: 26px;
  font-weight: 700;
}
h4 {
  font-size: 26px;
}
/*Logo*/
.navbar-brand {
  padding: 10px 0 0;
  max-width: 210px;
  display: inline-block;
  overflow: hidden;
  height: auto;
}
.navbar-brand img {
  width: 100%;
  height: auto;
}
/*Navbar*/
.navbar-default {
  background: #c50e12;
  border: 0;
  border-bottom: 3px solid #fff;
  z-index: 9999;
  margin-bottom:0;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  position: relative;
  top: 1px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Playfair Display', serif;
}
.navbar-nav>li.active:after, .navbar-nav>li:hover:after {
  position: absolute;
  content: '.';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  bottom: -4px;
  left: 50%;
  margin-left: -10px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #fff !important;
  background: none;
}
/*-------------- Mobile Nav --------------*/
.navbar-default .navbar-toggle .icon-bar {
  background: #000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-default .navbar-collapse.in li {
  border-color: #eab505;
}
.navbar-nav {
  margin-top: 14px;
  margin-bottom: 0;
  text-align: center;
}
.navbar {
  min-height: 70px;
  width:100%;
}
/*Footer*/
footer.copyright {
  padding: 12px 0 0;
  background: #000;
  color:#5e5e5e;
  border-top:1px solid #232323;
}
footer.copyright p {
  font-size: 14px;
}
.navbar-toggle {
  border: none;
  background: transparent !important;
  margin-right: 4px;
  margin-left: 0;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 26px;
  transition: all 0.2s;
  height: 3px;
  border-radius: 3px;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.hidden-all {
  display: none;
}
.mobile-only {
  display: none;
}
.banner {
  background: #000;
  position: relative;
  max-height: 620px;
  overflow: hidden;
}
.banner .owl-carousel .owl-stage-outer, .banner-img { max-height: 620px;}
.banner-img {
  opacity: 0.8;
}
.banner-img img {
  width: 100%;
  height: auto;
}
.banner-content {
  position: absolute;
  top: 0;
  right: 0;
    z-index: 9;
}
.banner-content h1 {
  font-size: 48px;
}
.banner-content p {
  font-size: 20px;
}
.text-inside {
  position: absolute;
  right: 30px;
  top: 15%;
  max-width: 500px;
  color: #fff;
}
.btn {
  background: #c50e12;
  color: #fff;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: 2px solid #fff;
  margin-top: 10px;
}
.btn:hover {
  color: #fff;
}
.section {
  padding: 60px 0 80px;
  position: relative;
}
.section-1 .container {
  max-width: 1000px;
}
.section-1 h3 {
}
.section-1 h3 span {
  padding-right: 0;
  position: relative;
  top: -2px;
  left:-15px;
  color:inherit;
}
.section-overlay {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .85
}
.section-2 {
  background: #fff url(../images/menu-bg.jpg) no-repeat center top;
  min-height: 500px;
  background-size: cover;
  color: #333;
}
.section-2 .container {
  z-index: 99;
  position: relative;
}
.entry-content {
  text-align: center;
  position: relative;
  z-index: 9999;
  margin: -20px 0 50px;
}
.entry-content h2 {
  color: #c50e12;
}
.entry-content h2 span {
  color: #000;
}
.entry-content p {
  font-size: 22px;
}
.section-2 .item {
  position: relative;
  border-bottom: 1px solid #efefef;
}
.section-2 .price {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 20px;
}
.section-2 .item h4 {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2px
}
.section-2 .item p {
  color: #5a5a5a
}
.menu-tabs {
  margin: -20px 0 40px;
  text-align: center;
}
.menu-tabs li {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
}
.menu-tabs li a {
  letter-spacing: 1px;
  background: #000;
  border-radius: 4px;
  padding: 8px 20px;
  color: #fff;
  text-decoration: none !important;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}
.menu-tabs li a:hover, .menu-tabs li.tab-active a {
  background: #c50e12
}
.tab-content{ display: none;}
.tab-content.tab-content-active { display: block;}
.section-3 h2 span {
  display: block;
  font-size: 26px;
  color: #c50e12;
}
.section-3 {background: url(../images/section-73.jpg) no-repeat right center;}
.section-3 h3 { margin-top:0;}
.section-3 .flaticon-salver:before { margin:0; padding:0; font-size:65px;}
.section-4 {
  background: url(../images/section-4.jpg) no-repeat 0 0;
  min-height: 200px;
  text-align: center;
  color: #fff;
  background-size: cover;
  padding: 50px 0;
}
.section-4 .container {
  max-width: 900px;
}
.section-4 p {
  font-size: 20px;
}
.author-meta {
  font-size: 24px;
  color: #c50e12
}
.quote {
  font-size: 42px;
}
.h-line {
  width: 75px;
  height: 1px;
  background: #c50e12;
  display: inline-block
}
.h-sep i {
  position: relative;
  top: 4px;
  color: #c50e12;
}
h3 span {
  color: #c50e12;
}
.divider-line.line-left {
  right: 100%;
  margin-right: 10px;
}
.divider-line {
  position: absolute;
  top: 50%;
  border-top: 1px solid #000;
  width: 190px;
}
.divider-line.line-right {
  left: 100%;
  margin-left: 10px;
}
.divider-inner {
  position: relative;
  display: inline-block;
}
.dine-divider {
  overflow: hidden;
  text-align: center;
  font-size: 14px;
}
.section-5 { padding-bottom:20px;}
.section-5 h2 span {
  display: block;
  font-size: 26px;
  color: #c50e12;
}
.rating { color: yellow;}
/* Reservation */
.input-text { display: block; padding: 10px; border: 1px solid #ccc; width: 100%; margin-bottom: 8px; border-radius: 2px;}

.footer { background:#000; color:#fff; padding:20px 40px; text-align:center;}
.footer .divider-line { border-color:#fff;}
/*-------------- Media Query --------------*/

@media (max-width:991px) {
.navbar-header {
  float: none;
}
.navbar-left, .navbar-right {
  float: none !important;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.collapse.in {
  display: block !important;
}
.navbar-default .navbar-nav > li > a {
  font-size: 16px;
}
.navbar-brand {
  padding: 8px 15px;
}
.navbar-default .navbar-collapse li {
  border-bottom: 1px solid #eab505;
}
}
@media (max-width:767px) {
p {
  line-height: normal;
  font-size: 16px;
}
h2 {
  font-size: 30px;
}
.mobile-only {
  display: block;
}
.desktop-only {
  display: none;
}
}
